body{
    background-color: black;
}
.container{
    width: 80%;
}
.main{
    margin-top: 80px;
    color: white;
}
.pic{
    display:flex;
    align-items:flex-start;
    justify-content: space-evenly;
    padding: 50px 20px;

}
.image{
    max-width: 400px;
    height: fit-content;
    margin: auto;
}
.head{
    margin-top:50px;
    text-align: center;
    padding: 20px 20px;
}
.heading{
    color: white;
    font-weight: 700;
}
.card-text{
    color: white;
}