.contact-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6%;
}

.contact-us-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input-container input {
    background: #464646;
    height: 50px;
    border: 0;
    padding-left: 20px;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

.input-container textarea {
    width: 39.5%;
    position: absolute;
    height: 160px;
    background: #464646;
    border: 0;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 40px;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

.contact-us-form-container h1 {
    padding-left: 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 32px;
}

.contact-us-form-container p {
    padding-left: 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

.contact-us-form-container {
    background: #222222;
    padding: 3%;
}

.contact-us-form-container {
    background: #222222;
    padding: 3%;
    border-radius: 12px;
    height: 670px;
}

.contact-us-map-container img {
    height: 650px;
}

.form-container .contact-us-button {
    width: 100px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    padding-top: 2px;
    border-radius: 24px;
    position: absolute;
    bottom: -12%;
    margin-left: 24px;
    border: 0;
}

.contact-us-button:hover {
    border: none;
}

.contact-us-map-container {
    padding-left: 10%;
}

.contact-us-button:hover {
    background-color: #ED5F22;
    color: #fff;
    border: 0;
}

.input-container input :hover {
    border: 0;
}


.input-container input :focus {
    border: 0;
}